.profile__avatar-button{
  height: 120px;
  width: 120px;
  position: relative;
  margin-right: 30px;
}

@media (max-width: 774px){
  .profile__avatar-button {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.profile__avatar-button:hover .profile__hover{
  transition: all 0.5s ease;
  opacity: 1;
}
