.elements {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 67px;
  list-style: none;
}

@media (max-width: 1280px){
  .elements {
    max-width: 880px;
    padding: 0;
  }
}

@media (max-width: 930px){
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 88%;
  }
}

@media (max-width: 614px){
  .elements {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
  }
}
