.profile__hover-button {
  padding: 0;
  outline: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/profile/edit-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
