.element__like-button {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(../../../images/element/like.svg);
  width: 21px;
  height: 19px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.element__like-button:hover {
  opacity: 0.8;
}
